.dashboard .content.main {
    .hero {
        .welcome {
            font-weight: 700;
            font-size: 18px;
        }

        .overview {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .stats {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
}